<style>

nav#topnav {
	background: #444;
	box-sizing: border-box;
	color: white;
	height: 48px;
	left: 0;
	padding-left: calc(50vw - var(--half-main-width));
	position: fixed;
	top: 0;
	width: 100%;
	white-space: nowrap;
}

nav#topnav #topnav-home {
	position: absolute;
	left: 0px;
	top: 0px;
}

nav#topnav #topnav-search {
	position: absolute;
	left: 47px;
	top: 0px;
}
nav#topnav #topnav-search .dropdown-content {
	background-color: #444;
	margin-top: -1px;
	padding: 10px;
}
#topnav-search input {
  background: white;
  width: 40em;
}
#search-results a {
	color: white;
}
/*nav#topnav #topnav-home a,
nav#topnav #topnav-right a {
	color: white;
  display: inline-block;
  font-size: 16px;
  line-height: 16px;
  padding: 16px 16px;
}*/
nav#topnav #topnav-right {
	position: absolute;
	right: 0px;
	top: 0px;
}
nav#topnav #topnav-right .dropdown-content {
	left: auto;
	right: 0;
}
nav#topnav #topnav-right .dropdown-content a {
	color: #444;
}
nav#topnav .dropdown-menu > ul > li > a {
	color: white;
  display: inline-block;
	font-size: 16px;
	font-weight: lighter;
	line-height: 16px;
	padding: 24px 10px 8px;
	white-space: nowrap;
}
nav#topnav .dropdown-menu li li a {
	color: white;
	padding: 2px 10px;
	display: block;
	font-weight: lighter;
	font-size: 15px;
}
nav#topnav a:hover {
	background: rgba(255,255,255,0.2);
}
nav#topnav .dropdown-menu > ul ul {
  background: #444;
}
nav#topnav { z-index: 150; }


.topnav-item {
	box-sizing: border-box;
	color: white;
	display: inline-block;
	font-size: 16px;
	line-height: 16px;
	padding: 16px 16px;
}
.topnav-item:hover {
	background: rgba(255,255,255,0.2);
}
#user-name {
}
#user-dropdown .dropdown-content {
	top: calc(100% + 14px);
}
#user-dropdown .dropdown-content > a:hover {
	background-color: rgba(0,0,0,0.2);
	cursor: pointer;
}
</style>

<nav id="topnav" class="desktop-only">
		<span >
			<a id="topnav-home" class="topnav-item" href="/"><i class="fa fa-home"></i></a>
			<span id="topnav-search" class="dropdown topnav-item">
				<i class="fa fa-search"></i>
				<span class="dropdown-content">
					<input onkeypress="search(this.value)">
					<div id="search-results"></div>
				</span>
			</span>
		</span>
		<span class="center-column dropdown-menu">
			{{scope.menu}}
		</span>
		<span id="topnav-right">
			<span id="user-dropdown" class="dropdown">
				<a id="user-name" class="topnav-item">{{scope.user.displayName}}</a>
				<div class="dropdown-content">
					<a href="/login/facebook">Login</a>
					<a href="/profile">Profile</a>
					<a href="/logout">Logout</a>
				</div>
			</span>
		</span>
</nav>
<nav id="topnav" class="mobile-only">
	<a id="topnav-home" class="topnav-item" href="/"><i class="fa fa-home"></i></a>
	<a class="topnav-item" href="../">up</a>
	<a class="topnav-item" onclick="document.body.setAttribute('index',true)">menu</a>
	<a class="topnav-item" href="{{scope.urls.allArticles}}">List all articles</a>
</nav>

<script id="topnav-script">
(function(){
	window.search = debounce( val => {
		if (!val) return console.error(`Can't search for null string.`);
		if (val.length<3) return;
		// console.log('searching for ',val);
		document.getElementById('search-results').innerHTML = '';
		const url = `/${db}/search/${val}`;
		fetch(url).then( response => {
			if (!response.ok) return handleError('Unknown');
			return response.json();
		}).then( json => {
			const html = render(json);
			document.getElementById('search-results').innerHTML = html;
 		}).catch(handleError);

	}, 250);

	function handleError(err) {
		document.getElementById('search-results').innerHTML = 'Search error';
		console.error('topnav > search > error:',err);
	}
	function render(list) {
		return `<ul>${list.map( article => `<li><a href="${article.link}"">${article.name}</a></li>` ).join('')}</ul>`;
	}
})();
</script>