<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{scope.title}}</title>
  <!-- <link rel="shortcut icon" href="img/favicon.png"> -->
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/main.css" />
  <link rel="stylesheet" href="/static/components.css" />
  <link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.min.css" />
  <style id="current-style">
{{scope.style}}
  </style>
  <script id="current-script">
    {{scope.script}}
  </script>

  <script src="/static/js/UIUtil.js"></script>


  <script id="global-scripts" src="/static/js/global.js"></script>
  <script id="debug-scripts">
    // to-do: patch in client-side copy of scope
    window.scopeRaw = `{{scope.content.raw}}`;

  </script>

</head>
<body mode="{{scope.mode}}">

	{{include('./inc/topnav.html')}}

  {{include('./inc/toc.html')}}

  {{include('./inc/admin.html')}}


  {{innerHtml}}

  <script id="temp-scroll-handler">
    window.addEventListener('scroll', function(evt) {
      const sections = document.querySelectorAll('.sectionOuter');
      for (var i = 0; i < sections.length; i++) {
        if (UIUtil.getWindowOffset(sections[i]).y > 72) break;
      }
      if (i > 0) i--;
      document.body.setAttribute('current-section',i);
    });
  </script>

  <script id="toc-generator" src="/static/js/toc-generator.js">
  </script>
<!--
  <script id="router">
  const route = window.route = {};

  window.onhashchange = processRoutes;
  window.onload = processRoutes;

  function processRoutes() {
    route.edit = window.location.hash === '#edit';
    document.body.setAttribute('data-route-edit', String(route.edit));
  }

  </script> -->

</body>
</html>
