:root {
	--half-main-width: 480px;
	--main-width: 960px;
	--top-nav-height: 48px;
}

html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
}

body {
	background-color: #f5f5f5;
}


a {
	text-decoration: none;
}




article#mainContent {
	background: white;
	box-sizing: border-box;
	margin: 96px auto 0 auto;
	padding: 24px;
	position: relative;
	width: var(--main-width);
}
article#mainContent #edit-button {
	position: absolute;
	right: 20px;
	top: 20px;
	z-index: 2;
}



/**** IMAGES ****/
.wikiImage, .noImage {
	/* display: inline-block;
	cursor: pointer;	
	-webkit-transition: box-shadow 0.3s;	
	position: relative;
	overflow: hidden;
	max-width: 100%;
	margin-bottom: -6px; */
}
.wikiImage img {
	width: 100%;
}
.wikiImage.center {
	display: block;
	text-align: center;
}
.wikiImage.center img {
	width: auto;
}
.wikiImage {
}
.wikiImage_caption {
	/*display: none;*/
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	max-height: 75%;
	background: rgba(0,0,0,0.75);
	color: white;
	overflow: auto;
	padding: 10px;
	text-align: center;
	box-sizing: border-box;
	opacity: 0;
	-webkit-transition: top 0.2s, opacity 0.2s;
}
.wikiImage:hover .wikiImage_caption {
	opacity: 1;
	/*-webkit-animation: fadeIn 0.3s ease-out;*/
}
@-webkit-keyframes fadeIn {
	0% { opacity: 0; top: 100%; }
	100% { opacity: 1; top: 60%; }
}
.wiki-image {
	object-fit: cover;
	object-position: top;
}
.wiki-image-container {
	position: relative;
}
.wiki-image-clone {
	position: fixed;
	object-fit: contain;
	/* top and left will be filled in by javascript */
	top: 50%;
	left: 50%;
	width: 0;
	height: 0;

	/* transition: all 0.35s; */
}
.wiki-image-clone-expando {
	top: 20px !important;
	left: 20px !important;
	width: calc(100vw - 40px) !important;
	height: calc(100vh - 40px) !important;
	z-index: 40404;
}
.wiki-image-clone-background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0,0.75);
	cursor: pointer;
}
/**** END IMAGES ****/


/** start autoIndex **/
#autoIndex {
	left: 50px;
	position: fixed;
	top: 100px;
}
#autoIndex li {
	list-style: none;
	margin: 0.4em 0;
}
#autoIndex li a {
	color: inherit;
}
#autoIndex li a:hover {
	color: auto;
}
/** end autoIndex **/


/** start aside **/
aside {
	color: white;
	max-height: calc(100vh - 72px);
	max-width: 20em;
	overflow: auto;
	padding: 20px;
	position: fixed;
	right: 10px;
	top: 50px;
}

aside img, section img {
	max-width: 100%;
}
/** end aside **/