:root {
	--half-main-width: 480px;
	--main-width: 960px;
}

html, body {
	margin: 0;
	padding: 0;
}

* {
	font-family: sans-serif;
}

body {
	background-color: #f5f5f5;
}

nav#topnav {
	background: #444;
	box-sizing: border-box;
	color: white;
	height: 48px;
	left: 0;
	padding-left: calc(50vw - var(--half-main-width));
	position: fixed;
	top: 0;
	width: 100%;
	white-space: nowrap;
}

nav#sidenav {
	background: #666;
	color: white;
	height: calc(100vh - 32px);
	left: 0;
	position: fixed;
	top: 32px;
	width: 220px;
}

article#mainContent {
	background: white;
	box-sizing: border-box;
	margin: 96px auto 0 auto;
	padding: 24px;
	width: var(--main-width);
}

a {
	text-decoration: none;
}

nav#topnav #topnav-left {
	position: absolute;
	left: 0px;
	top: 0px;
}
nav#topnav #topnav-left a,
nav#topnav #topnav-right a {
	color: white;
  display: inline-block;
  font-size: 16px;
  line-height: 16px;
  padding: 16px 16px;
}
nav#topnav #topnav-right {
	position: absolute;
	right: 0px;
	top: 0px;
}
nav#topnav #topnav-right .dropdown-content a {
	color: #444;
}
nav#topnav .dropdown-menu > ul > li > a {
	color: white;
  display: inline-block;
	font-size: 16px;
	font-weight: lighter;
	line-height: 16px;
	padding: 24px 10px 8px;
	white-space: nowrap;
}
nav#topnav .dropdown-menu li li a {
	color: white;
	padding: 2px 10px;
	display: block;
	font-weight: lighter;
	font-size: 15px;
}
nav#topnav a:hover {
	background: rgba(255,255,255,0.2);
}
nav#topnav .dropdown-menu > ul ul {
  background: #444;
}

nav#sidenav #toc li[level="2"] { padding-left: 20px; }
nav#sidenav #toc li[level="3"] { padding-left: 30px; }

nav#topnav { z-index: 150; }
nav#toc-horizontal { z-index: 140; }

nav#toc-horizontal {
	background: #ddd;
	box-sizing: border-box;
	height: 24px;
	left: 0;
	padding-left: calc(50vw - var(--half-main-width));
	position: fixed;
	top: 48px;
	width: 100%;
}
nav#toc-horizontal a {
	color: #555;
}
nav#toc-horizontal a:hover {
	background-color: rgba(0,0,0,0.2);
}
nav#toc-horizontal > ul ul {
  background: #ddd;
}
nav#toc-horizontal > ul > li > a {
	display: inline-block;
	font-size: 14px;
	font-weight: lighter;
	line-height: 16px;
	padding: 4px 8px;
}
nav#toc-horizontal li li a {
	padding: 2px 10px;
	display: block;
	font-weight: lighter;
	font-size: 15px;
}
nav#sidenav { display: none; }